.MuiGridListTileBar-title,
.MuiGridListTileBar-subtitle {
  text-align: center;
}

:root {
  background-color: #0e021b;
  background-image: url("./media/axiom-pattern.png");
}

/* body{
  background-color: rgba(137, 47, 255, 0.404);
} */
